html{font-size: 100px;font-size: calc(100vw/6.4);}
img{display: inline-block;width: 100%;height: auto;}

header{width: 100%;height: 3.66rem;margin-bottom: 0.2rem;}
li{width: 100%;height: 1.57rem;}
footer{width: 100%;height: 3.17rem;}























