<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>分分钟认识同城美女</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
    </head>
    <body>
        <a href="javascript:;" id="jumpTo"></a>
        <div class="null-box"></div>
        <div class="img-box">
            <img src="images/pic_01.jpg" alt="" class="belle-pic" />
        </div>
        <div class="content-box">
            <p class="text-box">
                <img src="images/tex_03.png" alt="" class="text-pic" />
            </p>
            <div class="btn-box">
                <img src="images/btn.png" alt="" class="btn-load" />
            </div>
        </div>
    </body>
</html>