/* 
* @Author: zhangjw
* @Date:   2017-05-23 19:05:52
* @Last Modified by:   anchen
* @Last Modified time: 2017-07-02 18:29:55
*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-size: 100px;
    font-size: calc(100vw/6.4);
}
body {
    color:#333; 
    font:16px/1.5 "Myriad Set Pro","Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif,'Microsoft Yahei',Simsun;
}
img{
    width: 100%;
}
.first-page{
    background: url(../images/pic-yz.jpg) no-repeat;
    background-size: 100% 100%;
    height: 12rem;
}
.add-pic{
    background:url(../images/pic-lh.jpg) no-repeat; 
}
.free-down{
    position: absolute;
    top:8.84rem;
    left:1.78rem;
    width: 2.92rem;
    height: 0.8rem;
    text-align: center;
    line-height: 0.8rem;
    background: #fd3fa9;
    color: #fff;
    font-size: 0.44rem;
    border-radius: 0.4rem;
}
